.popup__status-title {
    margin: 0;
    margin-top: 32px;
    padding: 0;
    max-width: 358px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    color: #000000;
}


@media (max-width: 767px) { 
    .popup__status-title {
        margin-top: 40px;
        font-size: 20px;
        line-height: 24px;
    }
}