.profile__add-button {
   margin: 0;
   outline: none;
   margin-left: auto;/*для сдвига в бок на маленьких разрешениях необходимо подвинуть в центр кнопку*/
   padding: 0;
   min-width: 150px;
   min-height: 50px;
   box-sizing: border-box;
   border: 2px solid #fff;
   border-radius: 2px;
   display: flex;
   justify-content: center;
   align-items: center;
   background-color: #000;
   background-image: url(/src/images/plus_big.svg);
   background-repeat: no-repeat;
   background-position: center;
   opacity: 1;
   transition: opacity 0.3s ease;
} 

.profile__add-button:hover{
    opacity: 0.6;
    cursor: pointer;
}


@media (max-width: 1279px) {
    .profile__add-button {
        margin: 0 auto;
    }
}


@media (max-width: 425px) {/* CSS для экранов меньше 425px */
    .profile__add-button {
        min-width: 282px;
        background-image: url(/src/images/Plus.svg);
    }
}