.links__text {
    margin: 0;
    padding-bottom: 41px;
    padding-right: 24px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    text-align: right;
    color: #FFFFFF;
}

@media (max-width: 425px) {
    .links__text {
        padding-bottom: 31.6px;
        padding-right: 15px;
    }
}