.header {
  max-width: 68.75%;
  margin: 0 auto 36.2px;
  padding-top: 45px;
  display: flex;
  justify-content: start;
  border-bottom: 1px solid rgb(84,84,84,0.7);
}

@media (max-width: 425px) {/* CSS для экранов меньше 425px */
  .header {
   max-width: 100%;
   margin-bottom: 38.25px;
   padding-top: 28px;
  }
}